.container-record-form {
  width: 100%;
}

.form-label-lg {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

@media (min-width: 576px) {
  .container-record-form {
    width: 75%;
  }
}
