.container-record-form {
  width: 100%;
}

.form-label-lg {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .container-record-form {
    width: 100%;
    max-width: unset;
  }
}
