:root {
  --color-primary: #f90716;
  --color-secondary: #77d970;
  --color-tertiary: #ff7f3f;
  --color-dark: #343a40;
  --color-gray: #eee;
  --color-dark-green: #116530;
  /* --color-dark-green rgb is 17, 101, 48 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
  background: #fff;
  color: var(--color-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
.delete-link {
  color: var(--color-dark);
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
.delete-link:hover {
  color: var(--color-primary);
}

.btn {
  vertical-align: unset;
}

/* Ingredients and Instructions Sections, Show page */

.recipe-section-wrapper {
  background-color: #77d97010;
  border: 1px solid var(--color-secondary);
  border-radius: 20px;
  padding: 1em;
}

.recipe-section {
  margin-top: 32px;
}

.recipe-section,
.header-section {
  gap: 40px;
}

.recipe-section li {
  list-style-type: none;
}

.selector-input {
  height: 38px;
  border-radius: 0.25rem;
  border-color: rgba(118, 118, 118, 0.3);
}

.selector-input.form-control {
  appearance: auto;
}

.selector-input.disabled {
  background-color: #e9ecef;
}

.ingredient-btn-wrapper {
  align-self: flex-end;
}

.input-left {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.ingredient-info {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .ingredient-name {
    width: 100%;
  }
}

.ingredient-info-wrapper {
  flex-wrap: wrap;
  display: flex;
  gap: 1rem;
}

@media (min-width: 768px) {
  .ingredient-info-wrapper {
    flex-wrap: nowrap;
  }
}

/* Instructions */
.instruction-wrapper {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
  flex-wrap: wrap;
}

.instruction-input {
  width: 100%;
}

@media (min-width: 768px) {
  .instruction-wrapper {
    flex-wrap: nowrap;
  }
}

@media (min-width: 576px) {
  .instruction-input {
    width: unset;
  }
}

.btn-right {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-self: flex-end;
}

.instruction-btn {
  white-space: nowrap;
}

/* Borders for ingredients groups */

.group1 {
  border: 2px solid var(--color-tertiary);
}
.group2 {
  border: 2px solid #f6d860;
}

.group3 {
  border: 2px solid #95cd41;
}

.group4 {
  border: 2px solid #ea5c2b;
}

.group5 {
  border: 2px solid #ffcc1d;
}
.group6 {
  border: 2px solid #0b4619;
}
.group7 {
  border: 2px solid var(--color-dark-green);
}
.group8 {
  border: 2px solid #e8e8cc;
}

/* Recipe Images */

.recipe-image {
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
  aspect-ratio: 1 / 1;
}

@media (min-width: 576px) {
  .recipe-image {
    height: 200px;
  }
}

/* Page loader */

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: var(--color-tertiary);
  height: 100;
  width: 100;
}

.overlay {
  position: absolute;
  top: 0;
  background-color: var(--color-secondary);
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
  z-index: 2;
}

.disabled {
  box-shadow: none;
  cursor: not-allowed;
  /* opacity: 0.5; */
  pointer-events: none;
}

/* Login, Password, Register screens */
.form-label-sm {
  font-size: 0.8rem;
}

.auth-input {
  padding: 10px 20px;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: var(--color-gray);
  outline-width: 0;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-bottom: 3px solid var(--color-tertiary);
}

.input-short {
  width: 140px;
}

.error-message {
  display: flex;
  justify-content: center;
  padding: 5px;
  background: var(--color-primary);
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}

.success-message {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: var(--color-secondary);
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}

/* File upload */
input[type="file"] {
  display: none;
}
